@charset "UTF-8";

// align
.u-ta--l { text-align: left; }
.u-ta--c { text-align: center; }
.u-ta--r { text-align: right; }

.u-va--t  { vertical-align: top; }
.u-va--b  { vertical-align: bottom; }
.u-va--m  { vertical-align: middle; }
.u-va--bl { vertical-align: baseline; }

// float
.u-fl--l { float: left; }
.u-fl--r { float: right; }
.u-fl--n { float: none; }
