.m-gallery {
  margin-bottom: 2em;

  >ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;

    >li {
      flex-grow: 0;
      width: 50%;
      padding: 2px;

      @include gt-tb{
        width: calc(100% / 6);
      }
    }
  }
}
