//- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+1p")
//- link(rel="stylesheet" href=`${rootPath}assets/css/style.css?v=${site.version}`)
link(rel="stylesheet" href=site.assets+'css/style.css?v=' + site.version)
