.m-pagination
  .m-pagination__head
    | 90件中 41件～50件を表示
  .m-pagination__body
    .m-pagination__pages
      a(href="").m-pagination__pages-prev.is-disabled
      a(href="").m-pagination__pages-num 1
      .m-pagination__pages-ellipsis
      a(href="").m-pagination__pages-num 3
      a(href="").m-pagination__pages-num.is-current 4
      a(href="").m-pagination__pages-num 5
      .m-pagination__pages-ellipsis
      a(href="").m-pagination__pages-num 9
      a(href="").m-pagination__pages-next
