-
  var wp_theme_dir = '/_wp/wp-content/themes/xxxxxxxxxx/';
  var site = {
    title      : 'タイトル',
    subtitle   : 'サブタイトル',
    url        : 'https://xxxxxxxxxx',
    description: '説明文',
    keywords   : '',
    ogpImage   : '/og.png',
    theme      : wp_theme_dir,
    assets     : wp_theme_dir + 'assets/',
    css        : wp_theme_dir + 'assets/css/',
    js         : wp_theme_dir + 'assets/js/',
    img        : wp_theme_dir + 'assets/img/',
    version    : '1.00',
    copyright  : 'xxxxxxxxxx CO.,LTD.'
  }
